
:root {
    /* Koloreak Dark Moderako eta zure eskakizunetarako egokitu dira */
    --primary-color: #b9b9b9; /* Goiburua/Orri-oina (Gris argiagoa) */
    --secondary-color: #0fa541; /* Berde distiratsua (Akzentua/Botoiak) */
    --text-color: #ffffff; /* Testuaren kolorea argia */
    --light-color: #414141; /* Elementu argien atzealdea (Gris iluna) */
    --bg-color: #212121; /* Orriaren atzealde nagusia iluna */
}

* {
    margin: 5px ;
    padding: 5px;
}

/* Oinarrizko body-a atzealde iluna eta testu argia izateko aldatu da */
body {
    font-family: Arial;  
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Goiburua eta Nabigazioa */
header {
    background-color: var(--primary-color); 
    color: var(--text-color);
    padding: 5px ;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 a {
    color: var(--text-color);
    text-decoration: none; 
}


.berriak{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.left-big{
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;           /* Activamos flexbox */
    align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
    gap: 20px;
    justify-content: center;
}

.right-list{
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item{
    display: flex;
    gap: 15px;
}

.img2{
    width: 80px;
    height: 70px;
    background: #cfcfcf;
}

.img3{
justify-content: center;
text-align: center;
background-color: var(--primary-color)
}
.img4{
    width: 70px;
    height: 70px;
    background: #cfcfcf;
}
.info h3{
    margin: 0 0 6px;
    font-size: 20px;
}

.info p{
    margin: 0 0 4px;
    font-size: 16px;
}

.fecha{
    font-size: 12px;
    color: #777;
    display: block;
}

.berria1 img {
    width: 450px;            
    height: 450px;
    
}

.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 450px;
    font-size: 20px;
    text-align: center;
}
 

.HasieraBotoi{ 
color: var(--bg-color);
    padding: 10px 15px;
    display: block;
    list-style: none;
    text-decoration: none;
}

.HasieraBotoi:hover { 
    background-color: #333333;
    color: var(--secondary-color);
    list-style: none;
}   