:root {
    /* Koloreak Dark Moderako eta zure eskakizunetarako egokitu dira */
    --primary-color: #b9b9b9; /* Goiburua/Orri-oina (Gris argiagoa) */
    --secondary-color: #0fa541; /* Berde distiratsua (Akzentua/Botoiak) */
    --text-color: #ffffff; /* Testuaren kolorea argia */
    --light-color: #414141; /* Elementu argien atzealdea (Gris iluna) */
    --bg-color: #212121; /* Orriaren atzealde nagusia iluna */
    --cookie-banner-bg: rgb(0, 0, 0); /* Cookie bannerraren atzealdea */
}

* {
    margin: 5px ;
    padding: 5px;
}

/* Esteka guztietatik azpimarra kentzen da */
a {
    text-decoration: none;
    color: var(--secondary-color);
}

/* Oinarrizko body-a atzealde iluna eta testu argia izateko aldatu da */
body {
    font-family: Arial;  
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Goiburua eta Nabigazioa */
header {
    background-color: var(--primary-color); 
    color: var(--text-color);
    padding: 5px ;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 a {
    color: var(--text-color);
    text-decoration: none;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    color: var(--bg-color);
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #333333;
    color: var(--secondary-color);
}
.Titulua{ 
    text-align:center;
}

.bracket{
    position:relative;
}



.bracket{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:180px; /* SEPARA LAS COLUMNAS */
    margin-top:60px;
}

.col{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.Perdedor{
    border:3px solid #9f0101;
    padding:10px 25px;
    border-radius:8px;
    margin:10px 0;
}
.Ganador{ 
    border:3px solid #00fb36;
    padding:10px 25px;
    border-radius:8px;
    margin:10px 0;
}

.final{
    border-color:gold;
    color:gold;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer a {
    color: var(--secondary-color); /* Berdea */
}